<p>
  <%= link_to "Albums", user_albums_path(current_user) %>
  <%= link_to "Create new album", new_user_album_path(current_user) %>
  <%= form_tag search_user_albums_path(current_user) do %>
    <%= text_field_tag :query %>
    <%= submit_tag 'Search' %>
  <% end %>
</p>