<p>
  <%= link_to "Albums", user_albums_path(current_user) %>
  <%= link_to "Edit", edit_user_album_path(current_user, @album) %>
</p>

<p>
  Title: <b><%= @album.title %></b>
  <br/>
  Artist: <b><%= @album.artist %></b>
  <% if @album.cover? %>
    <br/>
    <%= image_tag @album.cover.url(:medium) %>
  <% end %>
</p>